:root {
    --color-primary: linear-gradient(-43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-font-smoothing: antialiased;    
}

*, *::before, *::after {
    box-sizing: inherit;

  }

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 min(200px,10vw);
    inset: 0;
    background-color: rgb(10, 10, 10);
    color: rgb(243, 243, 243);

    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    max-width: 1480px;
    min-width: 470px;

    list-style: none;
    background-image: url(bgimg3.jpg);
    background-size: cover;
    text-wrap:balance;
}

a {
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
/*     position: fixed;
    top: 0;*/
    margin: 0;
    padding: 100px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    z-index: 2;

/*     border-bottom: 0.1px solid rgb(255, 255, 255);
 */}

header h1 {
    font-weight: 400;
}

header h1:hover {
    background-image: var(--color-primary);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.75em;
}

h2 {
    font-weight: 400;
    font-size: 1.3em;
    background-image: var(--color-primary);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-weight: 200;
    font-size: 1em;
}

p {
    line-height: 2em;
    font-weight: 400;  
    
}

span {
    background-image: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li a {
    text-decoration: none;
    list-style: none;
    color: gray;
    display: flex;
    flex-wrap: nowrap;
}

.site-nav ul li:last-child {
    position: relative;
    padding: 0.3em 0.5em;
    width: calc(min-content + 5px);
    background-image: var(--color-primary);
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.379);
    font-weight: 400;
}

.site-nav ul li a:last-child:hover {
/*     color: white;
 */    -webkit-text-fill-color: white;
 font-weight: 500;

}

.site-nav li {
    list-style: none;
    display: inline-block;
    overflow-wrap: normal;
    margin: 0 20px 0 0;
}

.site-nav li a:hover{
    color: rgb(255, 255, 255);
}

.active {
    color: rgb(255, 255, 255) !important;

}


.hero {
    margin: 100px auto;
    padding: 0 0;
}

.hero-text {
    display: flex;
    box-sizing: padding-box;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    padding: 0 0;
    text-align: left;
    text-wrap: balance;

}

.hero h1 {
    font-size: min(2.75em, 6vw);
    line-height: normal;
    font-weight: 400;
    font-size-adjust: 1.5em;
    -ms-flex-wrap: balance;
    flex-wrap: wrap;



}

div {
    margin: 0 0 100px 0;
    font-size: large;
}

.fp-title-item, .button-read {
    padding: 2px 0;
    color: white;
    font-weight: 200;
    font-size: 1.2em;
    border-bottom: 1px solid gray;
}

.button-read {
    font-size: 1em;
    padding-top: 20px;
}

.fp-title-item:hover, .button-read:hover {
    border-bottom: 1.5px solid rgb(255, 255, 255);
}

.fp-title {
    color: rgb(140, 138, 138);
    font-size: 0.9em;
    line-height: 2em;
}

.fa {
    padding-left: 5px;
    height: 5px;
    font-size: 0.7em;
    position: relative;
    bottom: 0em;
    color: rgb(140, 138, 138);
}

.featured-projects-list {
    list-style: disc;
    color: rgb(140, 138, 138);
    padding-left: 20px;
}

.fa-arrow-right {
    font-size: 0.5em;
    position: relative;
    bottom: 0.4em;
}

footer {
    padding-block: 50px;
    display: block;
/*     border: 1px solid rgb(140, 138, 138);
 */
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
/*     border: 1px solid rgb(140, 138, 138);
 */}

.footer-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .footer-list {
        flex-direction: column;
        row-gap: 20px;
    }

    .links {
        flex-direction: column;
        row-gap: 50px;
        margin: 0;
        padding: 20px 0;
        align-content: flex-start;
    }
    
}

.footer-item {
    margin: 0;
    padding-inline-end: 20px;
    font-size: 1em;
    flex-grow: 1;
    flex-basis: 50;
}

.footer-item a {
}

.footer-item a:hover {
    background-image: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons {
    font-size: 1.5em;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

.social-icons i:hover {
    background-image: var(--color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright {
    color: rgb(140, 138, 138);

}

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    
}

.card {
/*     border: 1px solid rgb(140, 138, 138);
 */    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 20px;
    height: 500px;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: transparent;
    grid-column-end: span 2;
    background-color: black;
    }

.card:hover {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card > p {
    display: hidden;
}

@media screen and (min-width: 1000px) {
  .card:nth-child(2) {
    grid-column-end: span 4;
    border: 1px solid rgb(140, 138, 138);
}
}

@media screen and (max-width: 1000px) and (min-width: 680px) {
  .card {
    grid-column-end: span 3;
    border: 1px solid rgb(140, 138, 138);
  }

  .card:nth-child(3) {
    grid-column-end: span 6;
}}

@media screen and (max-width: 680px) {
  .card {
    grid-column-end: span 6;
    border: 1px solid rgb(140, 138, 138);
}
  
}
.melwoodArena {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
  url('/mwd_old.png');
  background-image: black;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.melwoodArena:hover {
  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.489), rgb(0, 0, 0)),
  url('/mwd_old.png');
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about-img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 auto;
}

.about-main-section {
    display: flex;
    flex-direction: column;
}

.about-main-section div {
}

.mv-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
    align-items: right;
    justify-content: space-around;
    text-align: left;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
    column-gap: 50px;
}

.mv-text-box {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

q {
    line-height: 2em;
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: min(1.5em, 5vw);
    margin: 10px auto;
    padding: min(20px, 2vw) auto;
    

}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 30px 20px;
    width: 360px;
    height: 100%;
    column-gap: 50px;
    text-align: left;
    background: rgb(239, 239, 239);
    border-radius: 12px;
/*     box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.475), 0 6px 20px 0 rgba(255, 255, 255, 0.444); */
}

.contact-form:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.475), 0 6px 20px 0 rgba(255, 255, 255, 0.444);
}

.contact-form input, textarea {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    background-color: rgba(255, 255, 255, 0.72);
    padding: 8px;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
     transition: box-shadow 1s ease-in-out;
}

textarea {
    line-height-step: 1.5em;
}

.contact-form input:hover, .contact-form textarea:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:-ms-keyboard-active {
    box-shadow: 0 4px 8px 0 rgba(241, 2, 2, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding: 0 auto;
    margin: 0 0 -10px 0;
}

.contact-form textarea:focus, .contact-form input:focus {
    outline: none;
}

.contact-form button {
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: bottom 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 20px auto;
    padding: 0 auto;
    row-gap: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-display: swap;
    transition: box-shadow 1s ease-in-out;
}

.contact-form button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8), 0 2px 2px 0 rgba(0, 0, 0, 0.7);
}

.contact-form h2 {
    margin: 0;
    font-weight: 700;
}

